/*https://www.colorcombos.com/color-schemes/236/ColorCombo236.html*/

#navbar {
    background-color: #1F4864;
}

#stateFlag {
    width: 450px;
    height: auto;
}

#housingCarousel img {
    width: auto;
    height: 400;
    max-height: 600px;
}

.carousel-caption {
    background: rgba(100, 100, 100, 0.85);
}

a {
    color: #50021B;
}

.mr-3 {
    width: 205px;
    height: auto;
}

#dropdownMenuButton {
    background-color: #50021B;
}
