/*https://www.colorcombos.com/color-schemes/236/ColorCombo236.html*/

#navbar {
    background-color: #1F4864;
}

#stateFlag {
    width: 75px;
    height: auto;
}

#housingCarousel img {
    width: 800px;
    height: 600px;
    max-height: 600px;
}

.carousel-caption {
    background: rgba(100, 100, 100, 0.85);
}

a {
    color: #50021B;
}

.mr-3 {
    width: 205px;
    height: auto;
}

#dropdownMenuButton {
    background-color: #50021B;
}

h1 {
    color: white;
}

body {
    padding-top: 115px;
    height: 100%;
}
/* remove default margin and padding from body */
body {
    padding: 0;
    margin: 0;
  }
  
  /* set map, body, and html to 100% of the screen size */
  .jumbotron,
  #map,
  body,
  html {
    height: 100%;
  }

