<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>

    <!-- Import Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Navbar Section -->
    <div class="fixed-top">
        <div class="container-fluid" id="navbar">
            <div class="row">
                <div class="col">
                    <h1>Best Places to Live in California</h1>

                    <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
                        <a class="navbar-brand" href="#">Menu</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-item nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
                                <a class="nav-item nav-link active" href="about.html">About Us</a>
                                <a class="nav-item nav-link" href="tbd.html">Useful Facts</a>
                                <a class="nav-item nav-link" href="map.html">Mapping California</a>
                                <a class="nav-item nav-link" href="table.html">Playing with Tables</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>




    <!-- Body Section -->
    <div class='container-fluid' id='introAbout'>
        <div class='row'>
            <div class='col'>
                <h3 class='display-3'>About Us</h3>
                It's always good, when consuming data, to know both where the data come from and who is presenting it to you. Thusly, meet our team!
            </div>
        </div>
    </div>
    <br>
    <div class='container-fluid' id='staff'>
        <div class='row'>
            <div class='col'>
                <h4>Mayur Shah</h4>
                <div class="media">
                    <img class="mr-3" src="images/mayur.jpg" alt="Mayur Shah">
                    <div class="media-body">
                        <h5 class="mt-0">Lead Data Engineer</h5>
                        <p>
                            Senior Business Finance Analyst with in-depth Utility industry experience. Specializing in Budgeting, Reporting, Financial Modeling and Analysis. Help the Company in preparing regulatory rate case filings for gas and electric business and publishing Rate Base.
                        </p>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Learn More  </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="https://www.linkedin.com/in/mayushah1/">LinkedIn</a>
                                <a class="dropdown-item" href="https://github.com/mayushah1">Github</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col'>
                <h4>Tony Li</h4>
                <div class="media">
                    <img class="mr-3" src="images/tony.jpg" alt="Tony Li">
                    <div class="media-body">
                        <h5 class="mt-0">Lead API Engineer</h5>
                        <p>
                            I adhere to continuous learning and personal growth. I am a data analyst and a technology enthusiast, with interest in big data and machine learning. Experienced in financial planning, data visualization & analysis, process development & improvement, regulatory compliance.
                        </p>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Learn More  </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="https://www.linkedin.com/in/tli2001/">LinkedIn</a>
                                <a class="dropdown-item" href="https://github.com/tli2001a">Github</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class='row'>
            <div class='col'>
                <h4>Adam Mercier</h4>
                <div class="media">
                    <img class="mr-3" src="images/adam.jpg" alt="Adam Mercier">
                    <div class="media-body">
                        <h5 class="mt-0">Data Visualization Lead</h5>
                        <p>
                            Experienced Financial Analyst with a demonstrated history of working in the utilities and financial services industry. Skilled in Excel, Python, and Financial Management tools. Strong analytically driven professional with a Bachelor of Science (B.S.) from Cal Poly San Luis Obispo.
                        </p>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Learn More  </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="https://www.linkedin.com/in/adam-mercier-9548923b/">LinkedIn</a>
                                <a class="dropdown-item" href="https://github.com/amxmongoose">Github</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col'>
                <h4>Brian Diemer</h4>
                <div class="media">
                    <img class="mr-3" src="images/brian.jpg" alt="Brian Diemer">
                    <div class="media-body">
                        <h5 class="mt-0">Data Analytics Lead</h5>
                        <p>
                            Finance supervisor managing an FP&A team. Passionate about data analytics and financial modeling.
                        </p>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Learn More  </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="https://www.linkedin.com/in/brian-diemer-61674b7b/">LinkedIn</a>
                                <a class="dropdown-item" href="https://github.com/Brian-Diemer">Github</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class='row'>
            <div class='col'>
                <h4>Heidi Landenberger</h4>
                <div class="media">
                    <img class="mr-3" src="images/heidi.jpg" alt="Heidi Landenberger">
                    <div class="media-body">
                        <h5 class="mt-0">Front-End Engineer</h5>
                        <p>
                            Passionate about connections, whether they be as broad as those between cultures or as complex as those between a customer’s buying patterns and their likelihood of committing fraud. Driven fraud analyst with experience in both mCommerce and eCommerce.
                        </p>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Learn More  </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="https://www.linkedin.com/in/heidilandenberger/">LinkedIn</a>
                                <a class="dropdown-item" href="https://github.com/hmlanden">Github</a>
                                <a class="dropdown-item" href="https://derlanden.com/">Portfolio</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col'>

            </div>
        </div>
    </div>





    <!-- Import stuff that Bootstrap needs-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>

</html>
